@model CorsoMVC.Models.Persona[]

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body>
        <table>
            <tr>
                <td>Nome</td>
                <td>Cognome</td>
                <td>Età</td>
            </tr>
            @foreach (var persona in Model)
            {
                <tr>
                    <td>@persona.Nome</td>
                    <td>@persona.Cognome</td>
                    <td>@persona.Eta</td>
                </tr>
            }
        </table>
    </body>
</html>
