@model String

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <h1>Ciao, @Model!</h1>
        </div>
    </body>
</html>